{%extends 'base.html'%}

{%block content%}
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">用户中心</h6>
                </div>
                <div class="card-body">
                    是我啊
                </div>
              </div>

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">用户中心</h6>
                </div>
                <div class="card-body">
                    是我啊
                </div>
             </div>
{%endblock%}